<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="10 seconds">
    <include resource="org/springframework/boot/logging/logback/base.xml" />
    <springProperty scope="context" name="springAppName" source="spring.application.name"/>
    <property name="CONSOLE_LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} ${LOG_LEVEL_PATTERN:-%5p} [%X{processName:-},%X{processId:-}] ${PID:- } --- [%15.15t] %-40.40logger{39} : %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}"/>

    <!--<property name="CONSOLE_LOG_PATTERN" value="%clr([${springAppName:-},%X{X-B3-TraceId:-},%X{X-B3-SpanId:-},%X{X-Span-Export:-}]){yellow}"/>-->
    <!-- value="[%d{yyyy-MM-dd HH:mm:ss.SSS}] ${LOG_LEVEL_PATTERN:-%5p} [%X{processName:-},%X{processId:-}] ${PID:- } -&#45;&#45; [%15.15t] %-40.40logger{39} : %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}"/> -->
    <!-- value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr([%X{processName:-},%X{processId:-}]){yellow} %clr(${PID:- }){magenta} %clr(-&#45;&#45;){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}"/>-->

    <appender name="INFO_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>microservice-sinosoft-INFO.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>microservice-sinosoft-%d{yyyyMMdd}.log.%i</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>6</maxHistory>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>${CONSOLE_LOG_PATTERN}
            </Pattern>
        </layout>
    </appender>

    <appender name="INFO_FILE_JSON" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>json_logs/microservice-sinosoft-json-INFO.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>json_logs/microservice-sinosoft-json-%d{yyyyMMdd}.log.%i</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>6</maxHistory>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <pattern>
                    <pattern>
                        {
                        "timestamp": "%date{\"yyyy-MM-dd'T'HH:mm:ss.SSSZ\"}",
                        "Level": "%level",
                        "springAppName": "${springAppName:-}",
                        "TraceId": "%X{X-B3-TraceId:-}",
                        "SpanId": "%X{X-B3-SpanId:-}",
                        "Export": "%X{X-Span-Export:-}",
                        "PID": "${PID:-}",
                        "thread": "%thread",
                        "class": "%logger{40}",
                        "processName":"%X{processName:-}",
                        "processId":"%X{processId:-}",
                        "message": "%message"
                        }
                    </pattern>
                </pattern>
            </providers>
        </encoder>
    </appender>
    <appender name="INFO_TCP" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>10.1.71.213:4560</destination>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <pattern>
                    <pattern>
                        {
                        "timestamp": "%date{\"yyyy-MM-dd'T'HH:mm:ss.SSSZ\"}",
                        "Level": "%level",
                        "springAppName": "${springAppName:-}",
                        "TraceId": "%X{X-B3-TraceId:-}",
                        "SpanId": "%X{X-B3-SpanId:-}",
                        "Export": "%X{X-Span-Export:-}",
                        "PID": "${PID:-}",
                        "thread": "%thread",
                        "class": "%logger{40}",
                        "processName":"%X{processName:-}",
                        "processId":"%X{processId:-}",
                        "message": "%message"
                        }
                    </pattern>
                </pattern>
            </providers>
        </encoder>
    </appender>

    <!--<appender name="ERROR_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
        <!--<filter class="ch.qos.logback.classic.filter.ThresholdFilter">-->
            <!--<level>ERROR</level>-->
        <!--</filter>-->
        <!--<File>microservice-sinosoft-ERROR.log</File>-->
        <!--<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
            <!--<fileNamePattern>microservice-sinosoft-ERROR-%d{yyyyMMdd}.log.%i-->
            <!--</fileNamePattern>-->
            <!--<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">-->
                <!--<maxFileSize>10MB</maxFileSize>-->
            <!--</timeBasedFileNamingAndTriggeringPolicy>-->
            <!--<maxHistory>2</maxHistory>-->
        <!--</rollingPolicy>-->
        <!--<layout class="ch.qos.logback.classic.PatternLayout">-->
            <!--<Pattern>${CONSOLE_LOG_PATTERN}-->
            <!--</Pattern>-->
        <!--</layout>-->
    <!--</appender>-->

    <root level="INFO">
        <appender-ref ref="INFO_FILE" />
        <!--<appender-ref ref="INFO_TCP" />-->
        <!--<appender-ref ref="INFO_FILE_JSON" />-->

    </root>

</configuration>